@import './tailwind.css';

/* 
TODO: This file is not watched by nextjs
and does not update automatically
*/

html {
  background-color: var(--bg-primary);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/* Circular progress bars */
#circle-svg {
  transform: rotate(-90deg);
}

#circle-svg circle {
  transition: stroke-dashoffset 0.5s 0.3s;
}

/* hint css */
[class*='hint--'][aria-label]:after {
  white-space: pre;
}
[class*='hint--']:after {
  border-radius: 8px;
  background: black !important;
  box-shadow: none;
}
.hint--bottom-left:before,
.hint--bottom-right:before,
.hint--bottom:before {
  border-bottom-color: black !important;
}
.hint--top-left:before,
.hint--top-right:before,
.hint--top:before {
  border-top-color: black !important;
}
.hint--right:before {
  border-right-color: black !important;
}
.hint--left:before {
  border-left-color: black !important;
}
/* hint css */

/* markdown */
.markdown-body {
  color: var(--text-primary) !important;
}

.markdown-body pre {
  color: black !important;
}

.markdown-body > pre > code {
  overflow-x: auto !important;
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
}

.markdown-body blockquote {
  font-style: italic;
  color: var(--text-primary) !important;
  border-left: 0.25em solid var(--bg-nav-offset) !important;
}
/* markdown */

/* sandpack */
.st0 {
  fill: var(--text-primary) !important;
}

.sp-wrapper {
  height: 100% !important;
}

.sp-layout {
  display: flex;
  height: 100% !important;
  border: 0px !important;
  border-radius: 0 !important;
}
@media (min-width: 768px) {
  .sp-layout {
    flex-wrap: nowrap !important;
  }
  .sp-layout > :not(:first-child) {
    border: 0px !important;
  }
}

.sp-layout > :not(:first-child) {
  position: relative;
  margin-top: 0px !important;
  border-top-width: 0px !important;
  border-right-width: 0px !important;
}

.sp-stack {
  height: 100%;
}

.decorationsOverviewRuler {
  display: none;
}
/* sandpack */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--accent);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--accent), 0 0 5px var(--accent);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nprogress .spinner-icon {
  width: 42px;
  height: 42px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--accent);
  border-left-color: var(--accent);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
