@import './tailwind.css';

/* 
TODO: This file is not watched by nextjs
and does not update automatically
*/

html {
  background-color: var(--bg-primary);
}

.markdown-body {
  color: var(--text-primary) !important;
}

.markdown-body pre {
  color: var(--text-primary) !important;
}

.st0 {
  fill: var(--text-primary) !important;
}

.sp-wrapper {
  height: 100% !important;
}

.sp-layout {
  height: 100% !important;
  border: 0px !important;
  border-radius: 0 !important;
}
@media (min-width: 768px) {
  .sp-layout {
    flex-wrap: nowrap !important;
  }
}

.sp-layout>:not(:first-child) {
  margin-top: 0px !important;
}

.sp-stack {
  height: 50% !important;
}
