@import './tailwind.css';

/* 
TODO: This file is not watched by nextjs
and does not update automatically
*/

html {
  background-color: var(--color-primary-bg);
}

.markdown-body {
  color: var(--color-primary) !important;
}

.markdown-body pre {
  color: var(--color-primary-bg) !important;
}
