@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jen12e');
  src:  url('fonts/icomoon.eot?jen12e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jen12e') format('truetype'),
    url('fonts/icomoon.woff?jen12e') format('woff'),
    url('fonts/icomoon.svg?jen12e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jest:before {
  content: "\ea1d";
}
.icon-regexicon:before {
  content: "\ea1c";
}
.icon-address:before {
  content: "\e900";
}
.icon-adjust:before {
  content: "\e901";
}
.icon-air:before {
  content: "\e902";
}
.icon-alert:before {
  content: "\e903";
}
.icon-archive:before {
  content: "\e904";
}
.icon-arrow-combo:before {
  content: "\e905";
}
.icon-arrows-ccw:before {
  content: "\e906";
}
.icon-attach:before {
  content: "\e907";
}
.icon-attention:before {
  content: "\e908";
}
.icon-back-in-time:before {
  content: "\e909";
}
.icon-back:before {
  content: "\e90a";
}
.icon-bag:before {
  content: "\e90b";
}
.icon-basket:before {
  content: "\e90c";
}
.icon-battery:before {
  content: "\e90d";
}
.icon-behance:before {
  content: "\e90e";
}
.icon-bell:before {
  content: "\e90f";
}
.icon-block:before {
  content: "\e910";
}
.icon-book-open:before {
  content: "\e911";
}
.icon-book:before {
  content: "\e912";
}
.icon-bookmark:before {
  content: "\e913";
}
.icon-bookmarks:before {
  content: "\e914";
}
.icon-box:before {
  content: "\e915";
}
.icon-briefcase:before {
  content: "\e916";
}
.icon-brush:before {
  content: "\e917";
}
.icon-bucket:before {
  content: "\e918";
}
.icon-calendar:before {
  content: "\e919";
}
.icon-camera:before {
  content: "\e91a";
}
.icon-cancel-circled:before {
  content: "\e91b";
}
.icon-cancel-squared:before {
  content: "\e91c";
}
.icon-cancel:before {
  content: "\e91d";
}
.icon-cc-by:before {
  content: "\e91e";
}
.icon-cc-nc-eu:before {
  content: "\e91f";
}
.icon-cc-nc-jp:before {
  content: "\e920";
}
.icon-cc-nc:before {
  content: "\e921";
}
.icon-cc-nd:before {
  content: "\e922";
}
.icon-cc-pd:before {
  content: "\e923";
}
.icon-cc-remix:before {
  content: "\e924";
}
.icon-cc-sa:before {
  content: "\e925";
}
.icon-cc-share:before {
  content: "\e926";
}
.icon-cc-zero:before {
  content: "\e927";
}
.icon-cc:before {
  content: "\e928";
}
.icon-ccw:before {
  content: "\e929";
}
.icon-cd:before {
  content: "\e92a";
}
.icon-chart-area:before {
  content: "\e92b";
}
.icon-chart-bar:before {
  content: "\e92c";
}
.icon-chart-line:before {
  content: "\e92d";
}
.icon-chart-pie:before {
  content: "\e92e";
}
.icon-chat:before {
  content: "\e92f";
}
.icon-check:before {
  content: "\e930";
}
.icon-clipboard:before {
  content: "\e931";
}
.icon-clock:before {
  content: "\e932";
}
.icon-cloud-thunder:before {
  content: "\e933";
}
.icon-cloud:before {
  content: "\e934";
}
.icon-code:before {
  content: "\e935";
}
.icon-cog:before {
  content: "\e936";
}
.icon-comment:before {
  content: "\e937";
}
.icon-compass:before {
  content: "\e938";
}
.icon-credit-card:before {
  content: "\e939";
}
.icon-cup:before {
  content: "\e93a";
}
.icon-cw:before {
  content: "\e93b";
}
.icon-database:before {
  content: "\e93c";
}
.icon-db-shape:before {
  content: "\e93d";
}
.icon-direction:before {
  content: "\e93e";
}
.icon-doc-landscape:before {
  content: "\e93f";
}
.icon-doc-text-inv:before {
  content: "\e940";
}
.icon-doc-text:before {
  content: "\e941";
}
.icon-doc:before {
  content: "\e942";
}
.icon-docs:before {
  content: "\e943";
}
.icon-dot-2:before {
  content: "\e944";
}
.icon-dot-3:before {
  content: "\e945";
}
.icon-dot:before {
  content: "\e946";
}
.icon-down-bold:before {
  content: "\e947";
}
.icon-down-circled:before {
  content: "\e948";
}
.icon-down-dir:before {
  content: "\e949";
}
.icon-down-open-big:before {
  content: "\e94a";
}
.icon-down-open-mini:before {
  content: "\e94b";
}
.icon-down-open:before {
  content: "\e94c";
}
.icon-down-thin:before {
  content: "\e94d";
}
.icon-down:before {
  content: "\e94e";
}
.icon-download:before {
  content: "\e94f";
}
.icon-dribbble-circled:before {
  content: "\e950";
}
.icon-dribbble:before {
  content: "\e951";
}
.icon-drive:before {
  content: "\e952";
}
.icon-dropbox:before {
  content: "\e953";
}
.icon-droplet:before {
  content: "\e954";
}
.icon-erase:before {
  content: "\e955";
}
.icon-evernote:before {
  content: "\e956";
}
.icon-export:before {
  content: "\e957";
}
.icon-eye:before {
  content: "\e958";
}
.icon-facebook-circled:before {
  content: "\e959";
}
.icon-facebook-squared:before {
  content: "\e95a";
}
.icon-facebook:before {
  content: "\e95b";
}
.icon-fast-backward:before {
  content: "\e95c";
}
.icon-fast-forward:before {
  content: "\e95d";
}
.icon-feather:before {
  content: "\e95e";
}
.icon-flag:before {
  content: "\e95f";
}
.icon-flash:before {
  content: "\e960";
}
.icon-flashlight:before {
  content: "\e961";
}
.icon-flattr:before {
  content: "\e962";
}
.icon-flickr-circled:before {
  content: "\e963";
}
.icon-flickr:before {
  content: "\e964";
}
.icon-flight:before {
  content: "\e965";
}
.icon-floppy:before {
  content: "\e966";
}
.icon-flow-branch:before {
  content: "\e967";
}
.icon-flow-cascade:before {
  content: "\e968";
}
.icon-flow-line:before {
  content: "\e969";
}
.icon-flow-parallel:before {
  content: "\e96a";
}
.icon-flow-tree:before {
  content: "\e96b";
}
.icon-folder:before {
  content: "\e96c";
}
.icon-forward:before {
  content: "\e96d";
}
.icon-gauge:before {
  content: "\e96e";
}
.icon-github-circled:before {
  content: "\e96f";
}
.icon-github:before {
  content: "\e970";
}
.icon-globe:before {
  content: "\e971";
}
.icon-google-circles:before {
  content: "\e972";
}
.icon-gplus-circled:before {
  content: "\e973";
}
.icon-gplus:before {
  content: "\e974";
}
.icon-graduation-cap:before {
  content: "\e975";
}
.icon-heart-empty:before {
  content: "\e976";
}
.icon-heart:before {
  content: "\e977";
}
.icon-help-circled:before {
  content: "\e978";
}
.icon-help:before {
  content: "\e979";
}
.icon-home:before {
  content: "\e97a";
}
.icon-hourglass:before {
  content: "\e97b";
}
.icon-inbox:before {
  content: "\e97c";
}
.icon-infinity:before {
  content: "\e97d";
}
.icon-info-circled:before {
  content: "\e97e";
}
.icon-info:before {
  content: "\e97f";
}
.icon-instagrem:before {
  content: "\e980";
}
.icon-install:before {
  content: "\e981";
}
.icon-key:before {
  content: "\e982";
}
.icon-keyboard:before {
  content: "\e983";
}
.icon-lamp:before {
  content: "\e984";
}
.icon-language:before {
  content: "\e985";
}
.icon-lastfm-circled:before {
  content: "\e986";
}
.icon-lastfm:before {
  content: "\e987";
}
.icon-layout:before {
  content: "\e988";
}
.icon-leaf:before {
  content: "\e989";
}
.icon-left-bold:before {
  content: "\e98a";
}
.icon-left-circled:before {
  content: "\e98b";
}
.icon-left-dir:before {
  content: "\e98c";
}
.icon-left-open-big:before {
  content: "\e98d";
}
.icon-left-open-mini:before {
  content: "\e98e";
}
.icon-left-open:before {
  content: "\e98f";
}
.icon-left-thin:before {
  content: "\e990";
}
.icon-left:before {
  content: "\e991";
}
.icon-level-down:before {
  content: "\e992";
}
.icon-level-up:before {
  content: "\e993";
}
.icon-lifebuoy:before {
  content: "\e994";
}
.icon-light-down:before {
  content: "\e995";
}
.icon-light-up:before {
  content: "\e996";
}
.icon-link:before {
  content: "\e997";
}
.icon-linkedin-circled:before {
  content: "\e998";
}
.icon-linkedin:before {
  content: "\e999";
}
.icon-list-add:before {
  content: "\e99a";
}
.icon-list:before {
  content: "\e99b";
}
.icon-location:before {
  content: "\e99c";
}
.icon-lock-open:before {
  content: "\e99d";
}
.icon-lock:before {
  content: "\e99e";
}
.icon-login:before {
  content: "\e99f";
}
.icon-logo-db:before {
  content: "\e9a0";
}
.icon-logout:before {
  content: "\e9a1";
}
.icon-loop:before {
  content: "\e9a2";
}
.icon-magnet:before {
  content: "\e9a3";
}
.icon-mail:before {
  content: "\e9a4";
}
.icon-map:before {
  content: "\e9a5";
}
.icon-megaphone:before {
  content: "\e9a6";
}
.icon-menu:before {
  content: "\e9a7";
}
.icon-mic:before {
  content: "\e9a8";
}
.icon-minus-circled:before {
  content: "\e9a9";
}
.icon-minus-squared:before {
  content: "\e9aa";
}
.icon-minus:before {
  content: "\e9ab";
}
.icon-mixi:before {
  content: "\e9ac";
}
.icon-mobile:before {
  content: "\e9ad";
}
.icon-monitor:before {
  content: "\e9ae";
}
.icon-moon:before {
  content: "\e9af";
}
.icon-mouse:before {
  content: "\e9b0";
}
.icon-music:before {
  content: "\e9b1";
}
.icon-mute:before {
  content: "\e9b2";
}
.icon-network:before {
  content: "\e9b3";
}
.icon-newspaper:before {
  content: "\e9b4";
}
.icon-note-beamed:before {
  content: "\e9b5";
}
.icon-note:before {
  content: "\e9b6";
}
.icon-palette:before {
  content: "\e9b7";
}
.icon-paper-plane:before {
  content: "\e9b8";
}
.icon-pause:before {
  content: "\e9b9";
}
.icon-paypal:before {
  content: "\e9ba";
}
.icon-pencil:before {
  content: "\e9bb";
}
.icon-phone:before {
  content: "\e9bc";
}
.icon-picasa:before {
  content: "\e9bd";
}
.icon-picture:before {
  content: "\e9be";
}
.icon-pinterest-circled:before {
  content: "\e9bf";
}
.icon-pinterest:before {
  content: "\e9c0";
}
.icon-play:before {
  content: "\e9c1";
}
.icon-plus-circled:before {
  content: "\e9c2";
}
.icon-plus-squared:before {
  content: "\e9c3";
}
.icon-plus:before {
  content: "\e9c4";
}
.icon-popup:before {
  content: "\e9c5";
}
.icon-print:before {
  content: "\e9c6";
}
.icon-progress-0:before {
  content: "\e9c7";
}
.icon-progress-1:before {
  content: "\e9c8";
}
.icon-progress-2:before {
  content: "\e9c9";
}
.icon-progress-3:before {
  content: "\e9ca";
}
.icon-publish:before {
  content: "\e9cb";
}
.icon-qq:before {
  content: "\e9cc";
}
.icon-quote:before {
  content: "\e9cd";
}
.icon-rdio-circled:before {
  content: "\e9ce";
}
.icon-rdio:before {
  content: "\e9cf";
}
.icon-record:before {
  content: "\e9d0";
}
.icon-renren:before {
  content: "\e9d1";
}
.icon-reply-all:before {
  content: "\e9d2";
}
.icon-reply:before {
  content: "\e9d3";
}
.icon-resize-full:before {
  content: "\e9d4";
}
.icon-resize-small:before {
  content: "\e9d5";
}
.icon-retweet:before {
  content: "\e9d6";
}
.icon-right-bold:before {
  content: "\e9d7";
}
.icon-right-circled:before {
  content: "\e9d8";
}
.icon-right-dir:before {
  content: "\e9d9";
}
.icon-right-open-big:before {
  content: "\e9da";
}
.icon-right-open-mini:before {
  content: "\e9db";
}
.icon-right-open:before {
  content: "\e9dc";
}
.icon-right-thin:before {
  content: "\e9dd";
}
.icon-right:before {
  content: "\e9de";
}
.icon-rocket:before {
  content: "\e9df";
}
.icon-rss:before {
  content: "\e9e0";
}
.icon-search:before {
  content: "\e9e1";
}
.icon-share:before {
  content: "\e9e2";
}
.icon-shareable:before {
  content: "\e9e3";
}
.icon-shuffle:before {
  content: "\e9e4";
}
.icon-signal:before {
  content: "\e9e5";
}
.icon-sina-weibo:before {
  content: "\e9e6";
}
.icon-skype-circled:before {
  content: "\e9e7";
}
.icon-skype:before {
  content: "\e9e8";
}
.icon-smashing:before {
  content: "\e9e9";
}
.icon-sound:before {
  content: "\e9ea";
}
.icon-soundcloud:before {
  content: "\e9eb";
}
.icon-spotify-circled:before {
  content: "\e9ec";
}
.icon-spotify:before {
  content: "\e9ed";
}
.icon-star-empty:before {
  content: "\e9ee";
}
.icon-star:before {
  content: "\e9ef";
}
.icon-stop:before {
  content: "\e9f0";
}
.icon-stumbleupon-circled:before {
  content: "\e9f1";
}
.icon-stumbleupon:before {
  content: "\e9f2";
}
.icon-suitcase:before {
  content: "\e9f3";
}
.icon-sweden:before {
  content: "\e9f4";
}
.icon-switch:before {
  content: "\e9f5";
}
.icon-tag:before {
  content: "\e9f6";
}
.icon-tape:before {
  content: "\e9f7";
}
.icon-target:before {
  content: "\e9f8";
}
.icon-thermometer:before {
  content: "\e9f9";
}
.icon-thumbs-down:before {
  content: "\e9fa";
}
.icon-thumbs-up:before {
  content: "\e9fb";
}
.icon-ticket:before {
  content: "\e9fc";
}
.icon-to-end:before {
  content: "\e9fd";
}
.icon-to-start:before {
  content: "\e9fe";
}
.icon-tools:before {
  content: "\e9ff";
}
.icon-traffic-cone:before {
  content: "\ea00";
}
.icon-trash:before {
  content: "\ea01";
}
.icon-trophy:before {
  content: "\ea02";
}
.icon-tumblr-circled:before {
  content: "\ea03";
}
.icon-tumblr:before {
  content: "\ea04";
}
.icon-twitter-circled:before {
  content: "\ea05";
}
.icon-twitter:before {
  content: "\ea06";
}
.icon-up-bold:before {
  content: "\ea07";
}
.icon-up-circled:before {
  content: "\ea08";
}
.icon-up-dir:before {
  content: "\ea09";
}
.icon-up-open-big:before {
  content: "\ea0a";
}
.icon-up-open-mini:before {
  content: "\ea0b";
}
.icon-up-open:before {
  content: "\ea0c";
}
.icon-up-thin:before {
  content: "\ea0d";
}
.icon-up:before {
  content: "\ea0e";
}
.icon-upload-cloud:before {
  content: "\ea0f";
}
.icon-upload:before {
  content: "\ea10";
}
.icon-user-add:before {
  content: "\ea11";
}
.icon-user:before {
  content: "\ea12";
}
.icon-users:before {
  content: "\ea13";
}
.icon-vcard:before {
  content: "\ea14";
}
.icon-video:before {
  content: "\ea15";
}
.icon-vimeo-circled:before {
  content: "\ea16";
}
.icon-vimeo:before {
  content: "\ea17";
}
.icon-vkontakte:before {
  content: "\ea18";
}
.icon-volume:before {
  content: "\ea19";
}
.icon-water:before {
  content: "\ea1a";
}
.icon-window:before {
  content: "\ea1b";
}
.icon-file-empty:before {
  content: "\ea1e";
}
.icon-terminal:before {
  content: "\ea81";
}
